<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ace.secretscript.mapper.ace.DemoMapper">

    <sql id="aceDemo">
        "ACE_DEMO" T
    </sql>

    <sql id="aceDemoColumns">
        T."ID",
        T."NAME",
        T."DATE"
    </sql>

    <sql id="aceDemoValue">
        #{id},
        #{name},
        #{date}
    </sql>

    <select id="getList" parameterType="com.ace.secretscript.entity.Demo" resultType="demo">
        SELECT
        <include refid="aceDemoColumns"></include>
        FROM
        <include refid="aceDemo"></include>
        WHERE
        1=1
        <if test="name!=null and name!=''">
            AND
            T."NAME" = #{name}
        </if>
<!--        <if test="demo2.name!=null and demo2.name!=''">-->
<!--            T."NAME" = #{demo2.name}-->
<!--        </if>-->
    </select>

    <insert id="insert" parameterType="demo">
        INSERT INTO
        <include refid="aceDemo"></include>
        (
        <include refid="aceDemoColumns"></include>
        )
        VALUES (
        <include refid="aceDemoValue"></include>
        )
    </insert>

    <select id="getDataFormDB" resultType="demo">
        SELECT
        <include refid="aceDemoColumns"></include>
        FROM
        <include refid="aceDemo"></include>
        WHERE
        1=1
    </select>
</mapper>
